#main {
    margin-top: 10px;
}

#main img {   
    border-top: 2px solid #000;
}

/* text */
#tetx_main {
    background: #fff;
    font-size: 1.8em;
    text-align: center;
    font-weight: bold;
    white-space: pre-line;
}


/* img */
.img_main {
    background-repeat: no-repeat;
    background-position: center; 

    display: block;
    height: auto;
    width: 100%;
    max-width: 83vw;
    padding-bottom: 0;
}
