:root {
    --main_border: 2px solid #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: Garamond, serif;
    color: #000;
    overflow-y: auto;
    overflow-x: clip;
}

p {
    font-weight: bold;
    margin-left: 5px;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #b3b3b3; 
    transition: color 0.3s ease-in-out; 
}

.content {
    margin-top: 40px;     
    min-height: calc(100vh - 40px); 
    display: flex;
}

.content:not(img) {
    flex-direction: column;
}

.main-content {
    width: 100%;
    flex: 1;
    padding-left: 17vw; 
    background: #fff;
    transition: transform 0.4s ease-in-out;
}