/* основа бок */
#aside {
    border-right: 2px solid #000;
    position: fixed;
    width: 15vw;   
    top: 0; 
    left: 0;
    min-height: 100vh;     
    height: 100vh; 
    
    transition: transform 0.4s ease-in-out;
    z-index: 5;
    background: #000;

    display: flex;
    flex-direction: column;
}

/* текст бок */
#aside_ul {
    font-size: 1.8em;
    color: #fff;    
    list-style-type: none;
    text-align: center;
    overflow-wrap: break-word;

    font-style: oblique;
    position: relative; 
    z-index: 2;

    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); 
    margin-top: 120px;
    width: 100%;
}

#aside_ul li:not(:first-of-type){
    padding: 0;
    margin-top: 40px ;
}

/*  */
#aside_img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;       
    object-fit: cover; 
    z-index: 1;          
    filter: brightness(0.4); 
    pointer-events: none;
}

#aside_ul a {
    color: #fff;
    transition: color 0.3s ease-in-out; 
}

#aside_ul a:hover {
    color: #b3b3b3; 
} 

/*  */
.burger-btn,
#burger-toggle {
    display: none;
}

@media (max-width: 1558px) {

   .main-content {
        padding-left: 5px !important; 
        width: 100%;
        transition: transform 0.4s ease-in-out; 
    }
  
    .img_main {
        min-width: 100%;
        padding-left: 0;
    }

    .burger-btn {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        height: 25px;
        width: 30px;
        cursor: pointer;
        z-index: 102; 
    }

    .burger-btn::after, 
    .burger-btn::before, 
    .burger-btn span {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: transform 0.3s ease, top 0.3s ease, opacity 0.2s ease;
    }

    .burger-btn::after {content: '';top: 0;}
    .burger-btn span {top: 11px;}
    .burger-btn::before {content: '';top: 22px; }

    #aside {
        width: 40vw; 
        max-width: 85vw;
        transform: translateX(-100%); 
    }

    #aside_ul li:not(:first-of-type) {
        margin-top: 40px; 
    }

    header {
        font-size: 1em;
    }

    #aside_ul {
        font-size: 1.4em; 
    }

    #burger-toggle:checked ~ #aside {
        transform: translateX(0);
    }

    #burger-toggle:checked ~ .burger-btn::after {
        top: 11px;
        transform: rotate(45deg);
        background-color: #fff; 
    }

    #burger-toggle:checked ~ .burger-btn span {
        opacity: 0;
        transform: scale(0); 
    }

    #burger-toggle:checked ~ .burger-btn::before {
        top: 11px;
        transform: rotate(-45deg); 
        background-color: #fff;
    }


     @media (max-width: 330px) {
        #burger-toggle:checked ~ .content {
            transform: translateX(85vw); 
        }
    }
}